[submodule "l10n_do"]
	path = l10n_do
	url = git@github.com:ses-rd/l10n_do.git
	branch = 19.0

[submodule "NB5055/respondio_crm_bridge"]
	path = NB5055/respondio_crm_bridge
	url = git@github.com:NB5055/respondio_crm_bridge.git
	branch = 19.0
